.plan {
  padding: 91px 150px 107px 85px;
  margin-top: 177px;
  border-radius: 10px;
  background-color: #2C343E;

  &__items-sub-title {
    color: white;
  }

  &__items-text {
    color: white;
  }
}