.drink {
  display: flex;
  gap: 125px;
  align-items: start;
  padding: 159px 85px 168px;

  &__left__items {
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 28.5px;
    border-bottom: 1px solid #83888f68;
    padding: 24px 0px;
  }

  &__left__items__numbers {
    height: 32px;
    opacity: 45%;

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    color: #83888F;

    &__span {
      color: #0E8784;
    }

    &__last-span {
      color: black;
    }
  }
  
  &__left__items__text {
    height: 32px;

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    // opacity: 55%;

    color: #333d4b81;

    &__last-text-span {
      color: black;
      opacity: 100%;
    }
  }



  &__right {
    display: flex;
    flex-direction: column;
    gap: 88px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 454px;
    width: 100%;
    padding: 0px 0px 0px 50px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #0000000b;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2C343E;
    border-radius: 10px;
    opacity: 0.1;
  }
  

  &__right__items {
    position: relative;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
  }

  &__right__items__title {
      position: relative;
      height: 48px;
      z-index: 0;

      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      /* identical to box height, or 120% */

      color: #83888F;

  }

  &__right__items__cards {
    display: flex;
    align-items: center;
    padding: 5px 0px 0px;

  }

  &__up {
    transition: all 0.5s ease;
  }
  
  &__down {
    transition: all 0.5s ease;
    display: none
  }

  &__right__items__cards:hover .drink__up {
    position: relative;
    transform: scale(1.1 , 1.4);
  }

  &__right__items__button {
    position: absolute;
    right: 20px;
    border: none;
    padding: 12px 5px 6px 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right__items__button:focus .drink__up{
    transform: rotate(180deg);

  }

  &__right__items__button:focus .right__card-items {
    top: 0px;
    opacity: 1;
    transform: scale(1);
  }
  

  .right__cards-wrapper {
    position: absolute;
    top: 100px;
    right: 50px;
    display: flex;
    height: 260px;
    width: 730px;
  }

  .right__card-items {
    position: absolute;
    z-index: 10;
    width: 228px;
    transition: all 0.3s ease;
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 24px;
    padding: 32px 28px 84px;
    border-radius: 10px;
    background-color: #F4F1EB;
    transform: scale(0.5);
    opacity: 0;
    
    &__title {
      height: 32px;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */
      color: #333D4B;
    }
    
    &__text {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */
      
      color: #333D4B;
    }
  }
  
  .card-item_1 {
    top: -100px;
    left: 0px;
  }
  
  .card-item_2 {
    top: -100px;
    background-color: #0E8784;
    left: 250px;
    color: white;
  }
  
  .card-item_3 {
    top: -100px;
    left: 500px;
    z-index: 10;
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    gap: 88px;
  }


  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: end;

  }

  &__bottom__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 27px 64px;
    background-color: #2C343E;
    width: 820px;
  }

  &__bottom-title {

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-transform: uppercase;

    color: #FFFFFF;
    opacity: 0.5;

  }

  &__bottom-text {
    height: 120px;


    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    color: #FFFFFF;

    &__span {
      color: #0E8784; 
    }

  }







}