.choose {

  height: 577px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2C343E;
  border-radius: 10px;

  &__wrapper {
    padding: 0px 88px 470px 88px;
  }

  &__title {
    // width: 50%;
    height: 48px;


    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    text-align: center;

    color: #FEFCF7;
  }

  &__text {
    width: 45%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    padding: 32px 0px 86px;
    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;

  }

  &__cards {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__items-bottom {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
  
  &__items {
    position: relative;
    bottom: -51px;
    width: 10%;
    display :flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    border-radius: 10px;
    padding: 72px 140px 30px;
    background-color: #0E8784;
  }

  &__items-title {
    width: 300px;
    height: 32px;

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: center;

    color: #FEFCF7;

  }

  &__item-text {
    width: 250px;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;

    color: #FEFCF7;


  }
}


@media only screen and (max-width: 700px) {
  .choose {
    height: 902px;

    &__wrapper {
      padding: 64px 20px 700px;
    }
    &__title {
      width: 279px;
      font-size: 26px;
      line-height: 28px;
    }

    &__cards {
      width: 279px;
    }

    &__text {
      width:279px;
      font-size: 13px;
      line-height: 25px;
    }

    &__items {
      padding: 72px 130px 30px;
    }
  }
}





@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .choose {
    height: 573px;
    &__wrapper {
      padding: 144px 40px 427px;
    }
    &__contain {
      width: 100%;
      padding: 56px 54px;
      height: 750px;
    }

    &__title{
      width: 264px;
      height: 48px;
      font-size: 32px;
      line-height: 48px;
    }

    &__text {
      width: 540px;
      font-size: 15px;
      line-height: 25px;

    }

    &__cards {
      flex-direction: column;
      align-items: center;
    }

    &__items {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 55px;
      padding: 41px 48px 41px 70px;
    }

    &__items-bottom {
      width: 65%;
      align-items: start;
    }

    &__items-icon {
      min-width: 72px;
    }

    &__items-title {
      width: 255px;
      font-size: 24px;
      line-height: 32px;
      text-align: start;
    }

    &__item-text {
      width: 100%;
      font-size: 15px;
      line-height: 25px;
      text-align: start; 
    }
  }
}