
.collection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;


  &__main-title {
    // position: relative;
    // background-color: red;
    // width: 375px;
    position: relative;
    font-size: 600%;
    bottom:  -50px;
    text-align: center;
    font-family: 'Fraunces';
    font-weight: 900;
    letter-spacing: 10px;
    background: #000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


  }

  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__items {
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    .items__title {
    width: 60%;
    height: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #333D4B;
    }

    .items__text {
    width: 70%;
    padding: 10px 0px 0px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    /* or 162% */

    color: #333D4B;


    }
  }

  &__items-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  &__img {
    position: relative;
    top: 6px;
    bottom: 46px;
  }

}

@media only screen and (max-width: 700px) {
  .collection {
    &__wrapper {
      padding: 0px;
    }
    &__main-title {
      position: relative;
      top: 10px;

      width: auto;
      font-size: 200%;
      letter-spacing: 0px;
    }

    &__items {
      width: 282px;
    }

    .items__title {
      width: 255px;
      height: 32px;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */
      text-align: center;
    }

    .items__text {
      width: 282px;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */
      text-align: center;

      color: #333D4B;
    }
  }
}




@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .collection {
    &__wrapper {
      padding: 144px 40px;
    }

    &__contain {
      padding: 0px;
    }

    &__main-title {
      position: relative;
      top: 10px;
      width: auto;
      font-size: 500%;
      letter-spacing: 0px;

    }

    &__cards {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      
    }

    &__items {
      width: 553px;
      flex-direction: row;
    }

    .items__title {
      width: 245px;
      font-size: 24px;
      line-height: 32px;
    }

    .items__text {
      width: 272px;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */

      color: #333D4B;


    }
  }
}