.footer__wrapper {
  background-color: #2C343E;
}

.footer {
  display :flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    position: relative;
    display: flex;
    align-items: end;
    gap: 103px;
  }

  &__list {
    position: relative;
    top: 2px;
    display: flex;
    align-items: center;
    gap: 33px;
    
  }
  
  &__links {
    height: 15px;
    transition: all 1s ease;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    
    color: #83888F;
    
    &:hover {
      transform: scale(1.2);
      color: white;
      opacity: 1;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icons {
    transition: all 0.5s ease-out;
    color: white;

    &:hover {
      color: #FDD6BA;
      transform: rotate(1turn);
    }

    &:active {
      transform: translateY(-5px);

    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 65px;

    &__wrapper {
      padding: 0px;
    }

    &__navbar-left {
      position: relative;
      left: 20px;
    }

    &__left {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
    }

  }
}

@media only screen and (max-width: 700px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 49px;

    &__wrapper {
      padding: 0px;

    }

    &__navbar__left {
      position: relative;
      left: 20px;
    }

    &__left {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 49px;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
    
    &__navbar-logo-title {
      font-size: 30px;
      width: 250px;
    }

    &__logo {
      width: 30px;
      height: 30px;
    }
  }


}