

.intro {
  background-image: url(../images/greatbgimg.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover ;
  height: 600px;
  display: flex;
  align-items: center;

  &__div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;  
  }

  &__title {
  width: 60%;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */

  color: #FEFCF7;
  
  }

  &__text {

  width: 33%;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #FEFCF7;

  opacity: 0.8;
  }
  

}

@media only screen and (max-width: 700px) {
  .contain {
    padding: 100px 1% 100px 1%;
  }

  .intro {
    &__wrapper {
      padding: 32px 20px;
    }
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    justify-content: center;
    &__div {
      align-items: center;

    }

    &__title {
      width: 279px;
      text-align: center;
      font-size: 40px;
      line-height: 40px;

    }

    &__text {
      width: 279px;
      text-align: center;
      font-size: 15px;
    }
  
  }




  
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .intro {
    background-repeat: repeat-x;
    background-size: 100% 100%;
    &__wrapper {
      padding: 0px 40px;
    }
    &__div {
      align-items: start;
    }

    &__title {
    height: 97px;
    width: 329px;

    font-family: 'Fraunces';
    font-size: 48px;
    line-height: 48px;
    }

    &__text {
    width: 398px;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    }
    
  }

  .contain {
    padding: 104px 90px 90px 58px;
  }
}
