.about__intro {
  background-image: url(../images/aboutbgimg.png);
  background-repeat: repeat-y ;
  background-size: cover;
  // background-attachment: fixed;
  background-position: right top;
  border-radius: 10px;
}

