.commitment {
  display: flex;
  gap: 125px;
  align-items: center;
  padding: 168px 80px;

  &__right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }

  &__title {

    height: 48px;


    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    color: #333D4B;
  }

  &__text {

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #333D4B;

    opacity: 0.8;

  }

}